.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hexagon {
  pointer-events: all;
}

text {
  user-select: none;
}

.active-btn {
  background-color: blue;
}

.inactive-btn {
  background-color: #aaa !important;
}

.inactive-btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0) !important;
}
